* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans';
    background: rgba(144, 238, 144, 0.4);
    padding: 1rem;
}

#overallContainer {
    
}

.information,
.live-in-action {
    border: 3px solid darkgreen;
    min-width: 400px;
    max-width: 800px;
    padding: 1rem;
    background: lightskyblue;
}

#headerContainer {
    /* border: 2px solid black; */
}

#pondIcon {
    max-width: 200px;
}

h1 {
    color: darkgreen;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

p {
    color: rgb(0, 46, 0);
}

.requests,
.example {
    font-weight: bold;
}

.url {
    padding: 1rem 0;
}

.title {
    padding: 1rem 0 0.5rem 0;
    text-decoration: underline;
}

#commonName {
    font-weight: bold;
}

#scientificName {
    font-weight: bold;
    font-style: italic;
}

#description {
    font-weight: bold;
}

img {
    width: 100%;
}