* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans';
    background: rgba(144, 238, 144, 0.4);
    padding: 1rem;
}

#overallContainer {
    width: 600px;
}

.information,
.live-in-action {
    border: 4px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    background: lightskyblue;
}

#headerContainer {
    display: flex;
}

h1 {
    flex-grow: 1;
    flex-shrink: 0;
    /* flex-basis: 50%; */
    /* justify-self: flex-end; */
    align-self: center;
    font-family: 'Boogaloo';
    font-size: 2.5rem;
    color: darkgreen;
}

#pondImageOne {
    flex-grow: 1;
    flex-shrink: 0;
    /* flex-basis: 50%; */
    /* justify-self: flex-start; */
    /* align-self: flex-end; */
    max-width: 128px;
    max-height: 128px;
}

#midContainer {
    display: flex;
}

h2 {
    flex-grow: 1;
    flex-shrink: 0;
    /* flex-basis: 50%; */
    /* justify-self: flex-end; */
    align-self: center;
    font-family: 'Boogaloo';
    font-size: 2rem;
    color: darkgreen;
}

#pondImageTwo {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 50% */
    /* justify-self: flex-start; */
    /* align-self: flex-end; */
    max-width: 128px;
    max-height: 128px;
}

#getPlantTextInput {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px darkgreen;
    font-size: 1.2rem;
}

#getPlantButton {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px darkgreen;
    color: rgb(0, 46, 0);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

p {
    color: rgb(0, 46, 0);
}

.requests,
.example {
    font-weight: bold;
}

.url {
    padding: 1rem 0;
}

.title {
    padding: 1rem 0 0.5rem 0;
}

#commonName {
    font-size: 1.2rem;
    font-weight: bold;
}

#scientificName {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

#description {
    font-weight: bold;
}

#plantImage {
    width: 100%;
    border-radius: 0.5rem;
    /* border: 2px solid black; */
}