<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pond Plants API</title>
</head>

<body>
    <section id="overall-container">

        <section class="api-information">

            <section id="header-sub-container">
                <h1 class="header-h1">Pond Plants API</h1>
                <p class="header-p">A Full Stack Web Application demonstrating a REST/CRUD API built using HTML, CSS, JavaScript, Node, Express, MongoDB and Heroku</p>
                <img id="pond-image-one" src="images/pond-image-one.png">
            </section>

            <p class="requests">To send requests:</p>
            <p class="api-url">https://pond-plants-api.herokuapp.com/api/plant name here</p>
            <p class="example">Example:</p>
            <p class="api-url">https://pond-plants-api.herokuapp.com/api/Water Mint</p>

        </section>

        <section id="read-all">

            <section id="header-sub-container">
                <h2 class="header-h2">Get a list of all the Plants</h2>
                <p class="header-p">Read (GET) all documents (by Common Name) from the collection in the Database</p>
                <img id="pond-image-three" src="images/pond-image-three.png">
            </section>
            <section>
            <ul class="plant-info">
                <% for(let i=0; i < info.length; i++) {%>
                    <li class="plant">
                        <span>
                            <%= info[i].commonName %>
                        </span>
                    </li>
                    <% } %>
            </ul>
            </section>
        </section>

        <section id="read-one">
        
            <section id="header-sub-container">
                <h2 class="header-h2">Get a specific Plant</h2>
                <p class="header-p">Read (GET) a specific document (by Common Name) and all of it's details from the collection
                    in the Database</p>
                <img class="pond-image" id="pond-image-two" src="images/pond-image-two.png">
            </section>
        
            <section id="read-one-form-container">
                <input type="text" id="read-one-plant-text-input" placeholder="Common Name">
                <button type=submit id="read-one-plant-button">Get the Plant</button>
            </section>
        
            <section>
                <p class="title">Common Name :</p>
                <p id="read-one-common-name"></p>
                <p class="title">Scientific Name :</p>
                <p id="read-one-scientific-name"></p>
                <p class="title">Description :</p>
                <p id="read-one-description"></p>
                <p class="title">Image :</p>
                <img id="read-one-image">
            </section>
        
        </section>

        <section id="create">

            <section id="header-sub-container">
                <h2 class="header-h2">Add a Plant</h2>
                <p class="header-p">Create (POST) a document (by Common Name) and all of it's details in the collection in the Database</p>
                <img id="pond-image-four" src="images/pond-image-four.png">
            </section>
            <section>
                <form action="/addPlant" method="POST">
                    <input type="text" placeholder="Common Name to Add" name="commonName">
                    <input type="text" placeholder="Add Scientific Name" name="scientificName">
                    <input type="text" placeholder="Add Description" name="description">
                    <input type="text" placeholder="Add Image URL" name="image"> 
                    <input type="submit" id="create-plant-button" value="Add the Plant">
                </form>
            </section>
        </section>

        <section id="update">

            <section id="header-sub-container">
                <h2 class="header-h2">Update a Plant</h2>
                <p class="header-p">Update (PUT) a document (by Common Name) in the collection in the Database</p>
                <img id="pond-image-six" src="images/pond-image-six.png">
            </section>
            <section id="update-form-container">
                    <input type="text" id="update-common-name" placeholder="Common Name to Update">
                    <input type="text" id="update-scientific-name" placeholder="Update Scientific Name">
                    <input type="text" id="update-description" placeholder="Update Description">
                    <input type="text" id="update-image" placeholder="Update Image URL">
                    <button type="button" id="update-plant-button">Update the Plant</button>
            </section>

        </section>

        <section id="delete">
        
            <section id="header-sub-container">
                <h2 class="header-h2">Delete a Plant</h2>
                <p class="header-p">Delete (DELETE) a document (by Common Name) from the collection in the Database</p>
                <img id="pond-image-five" src="images/pond-image-five.png">
            </section>
            <section id="delete-form-container">
                <input type="text" id="delete-plant-text-input" placeholder="Common Name to Delete">
                <button type="button" id="delete-plant-button">Delete the Plant</button>
            </section>
        </section>

        <footer>
            <a href="https://github.com/bazmurphy/pond-plant-api" target=”_blank”>Source Code on GitHub</a>
            <a href="https://www.flaticon.com/packs/lake-25" target=”_blank”>Pond Icons by La.creative</a>
        </footer>

    </section>

    <script src="js/main.js"></script>
</body>

</html>