* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(84, 223, 160);
    background-image: url("/images/nice-snow.png");
    padding: 1rem;
    font-family: 'Open Sans';
}

#overall-container {
    margin: auto;
    /* width: 85vw; */
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vh;
}

#overall-container > section {
    border: 0.2rem solid rgb(0, 123, 172);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: lightskyblue;
    background-image: url("/images/wet-snow.png");
}

#header-sub-container {
    display: grid;
    grid-template-columns: 3fr 0.1fr auto;
    grid-template-areas: "header-h . pond-image"
                        "header-p . pond-image";
    padding-bottom: 1rem;
}

.header-h1,
.header-h2 {
    grid-area: header-h;
    align-self: center;
    /* justify-self: start; */
    font-family: 'Boogaloo';
    color: darkgreen;
}

.header-h1 {
    font-size: 3rem;
}

.header-h2 {
    font-size: 2.5rem;
}

.header-p {
    grid-area: header-p;
    font-size: 0.8rem;
}

#pond-image-one,
#pond-image-two,
#pond-image-three,
#pond-image-four,
#pond-image-five,
#pond-image-six {
    grid-area: pond-image;
    /* align-self: start; */
    /* justify-self: start; */
    /* max-width: 10vw; */
    /* max-height: 10vh; */
    max-width: 128px;
    max-height: 128px;
}

p {
    color: rgb(0, 46, 0);
}

.requests,
.example {
    font-weight: bold;
}

.api-url {
    padding: 1rem 0;
}

.title {
    padding: 1.5rem 0 0.5rem 0;
}

#read-one-common-name {
    font-size: 1.2rem;
    font-weight: bold;
}

#read-one-scientific-name {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

#read-one-description {
    font-weight: bold;
}

#read-one-image {
    border-radius: 0.5rem;
    width: 100%;
}

#read-all li {
    font-weight: bold;
    list-style: inside;
}

#create form,
#delete-form-container,
#update-form-container{
    display: grid;
    padding: 1rem 0;
}

#read-one-plant-text-input,
#create form input,
#update input,
#delete input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: solid 0.1rem darkgreen;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#read-one-plant-button,
#create-plant-button,
#delete-plant-button,
#update-plant-button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px darkgreen;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 46, 0);
    font-size: 1rem;
    font-weight: bold;
}

#read-one-plant-button:hover,
#create-plant-button:hover,
#delete-plant-button:hover,
#update-plant-button:hover {
    background-color: rgb(67, 181, 252, 0.5);
}

/* #create-plant-button {
    font-weight: bold !important;
} */

footer {
    font-size: 0.8rem;
}

footer a {
    color: darkgreen;
    text-decoration: none;
    padding: 0 0.5rem;
}